.title{
	font-size: 27px;
}

.subtitle{
	font-size: 12px;
}

.spacer_md {
	margin-top: 20px;
}

.spacer_sm {
	margin-top: 5px;
}

.loading_msg {
	margin-top: 50px;
	margin-left: 100px;
	font-size:28px;
	color: #777;
}

#map {
    height:360px;
	width: 100%;
}

#grid {
	width: 100%;
}

.stat_title{
	margin-top: 0px;
    font-size:16px;
	vertical-align: center;
}

.stat_heading {
	font-size:16px;
	font-weight: bold;
	text-align: right;
	vertical-align: center;
}

.stat {
	text-align: right;
    font-size:20px;
	vertical-align: center;
}

.stats_table {
	width: 300px;
	height: 320px;
	table-layout: fixed;
}

td {
    overflow: hidden;
    width: 110px;
}

th {
    overflow: hidden;
    width: 150px;
}

#intro {
	background: #e60000;  /* button colour */
	color: #ffffff;  	  /* text colour */
	border: #e60000;
	font-weight: bold;
	font-size: 13px;
	
}

/* .sticky {
    position: fixed;
    top: 0px;
} */

/* .line {
	border-bottom-style:solid;
	border-bottom-color:#cccccc;
	border-bottom-width:1px;
} */
